.news-list-item {
  list-style: none;
  padding: 0 20px 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #502411;
}

.news-list-item a {
  text-decoration: none;
  color: #2f2f2f;
}

.news-list-item a:hover {
  text-decoration: underline;
}